<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Some Website</title>
</head>
<body>
    {{> header}}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ab quibusdam magni magnam cum nulla tempora quo voluptas maiores reiciendis, eligendi aliquid incidunt perspiciatis obcaecati sapiente temporibus laudantium totam iure deserunt accusamus. Dolor, ut asperiores a debitis iusto quos voluptas libero temporibus sunt, culpa nihil! Aliquid et fugiat non labore?</p>

    {{> footer}}
</body>
</html>